---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Privacy Policy"
  description="Currently: app does not collect any data from you. We do not track you, and we do not sell your data."
  pubDate={new Date("August 08 2021")}
  heroImage=""
>
  <p>
    Currently: app does not collect any data from you. We do not track you, and
    we do not sell your data. All data is stored locally on your device and or
    in your iCloud account. All AI processing uses Apples on device processing,
    no data is transfered *ever*.
  </p>
</Layout>
